html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.panel-question {
  margin-bottom: 20px;
  background-color: #fff;
}

.panel-heading {
  font-weight: bold;
  padding: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#btn-collapse {
  margin-bottom: 10px;
  background-color: #999;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  float: right;
}

.panel-body {
  padding: 15px;
  display:none;
}
.active .panel-body{
  display:block;
}